<!DOCTYPE html>
<html lang="en">
<%- include("./partials/index/head") %>

<body>
	<%- include("./partials/index/header") %>
	<%- include("./partials/index/banner") %>
	<%- include("./partials/index/productsList") %>
	<%- include("./partials/index/footer") %>
</body>
</html>